<div class="search">
  <form>
    <input type="text" placeholder="Digite o nome da cidade">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/Mountains.jfif" alt="Heat image" *ngIf="weatherData.main.temp > 20">
    <img src="../assets/download.jpeg.jfif" alt="Cold image" *ngIf="weatherData.main.temp <= 20">
    <img src="../assets/Giancarlo Volpe.png" alt="Heat image" *ngIf="">

    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{weatherData.main.temp | number: '1.0-0'}} ºC</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature.png" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min | number: '1.0-0'}} ºC
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot.png" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number: '1.0-0'}} ºC
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
           {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
           {{weatherData.wind.speed | number: '1.0-0'}} Km/h
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
           {{weatherData.weather[0].icon}} Km/h
        </div>
      </div>
    </div>
  </div>
</div>
